pre, code { color: #060; font-size: 11pt; }
pre { margin-left: 2ex; padding: 1ex; background-color: #eee; }
p { font-size: 12pt; }
body { 
  margin-left: 10%; 
  margin-right: 10%;
  background-color: #fff; 
  color: black; 
  max-width: 800px;
}
h1,h2,h3,h4 { font-family: helvetica }
h1 { font-size: 36pt; }
h1 { 
  background-color: #58b; 
  color: white;
  padding-left:6px;
}
h2 { 
  color: #28b; 
}
li > code:first-child { 
  font-weight: bold;
}

.right { 
  float: right;
  padding-right: 0.5ex;
}

form, input { 
  display: inline;
}
